# Q4. Display first 1000 rows of tables (College_A_HS, College_A_SE, College_A_SJ, College_B_HS, College_B_SE, College_B_SJ) with Python.

In [ ]:
import mysql.connector
testdb= mysql.connector.connect(host="localhost", user="root", password="0602", database= "alumni")
testcursor=testdb.cursor()
testcursor.execute("SELECT * FROM college_a_hs LIMIT 1000")
for s in testcursor:
    print(s)

In [ ]:
import mysql.connector
testdb= mysql.connector.connect(host="localhost", user="root", password="0602", database= "alumni")
testcursor=testdb.cursor()
testcursor.execute("SELECT * FROM college_a_se LIMIT 1000")
for t in testcursor:
    print(t)

In [ ]:
import mysql.connector
testdb= mysql.connector.connect(host="localhost", user="root", password="0602", database= "alumni")
testcursor=testdb.cursor()
testcursor.execute("SELECT * FROM college_a_sj LIMIT 1000")
for u in testcursor:
    print(u)

In [ ]:
import mysql.connector
testdb= mysql.connector.connect(host="localhost", user="root", password="0602", database= "alumni")
testcursor=testdb.cursor()
testcursor.execute("SELECT * FROM college_b_hs LIMIT 1000")
for v in testcursor:
    print(v)

In [ ]:
import mysql.connector
testdb= mysql.connector.connect(host="localhost", user="root", password="0602", database= "alumni")
testcursor=testdb.cursor()
testcursor.execute("SELECT * FROM college_b_se LIMIT 1000")
for w in testcursor:
    print(w)

In [ ]:
import mysql.connector
testdb= mysql.connector.connect(host="localhost", user="root", password="0602", database= "alumni")
testcursor=testdb.cursor()
testcursor.execute("SELECT * FROM college_b_sj LIMIT 1000")
for x in testcursor:
    print(x)